@charset "utf-8";

@import "bourbon/bourbon";
@import "neat/neat";

@include font-face(SourceSansPro, '/fonts/SourceSansPro-Bold' bold);
@include font-face(SourceSansPro, '/fonts/SourceSansPro-It', italic);
@include font-face(SourceSansPro, '/fonts/SourceSansPro-Regular', normal);

body {
  background: #d4d4d4 url("../images/cream-pattern.png");
  text-align: center;
  font-family: ('SourceSansPro'), sans-serif;
}

h1 {
  color: rgba(0, 0, 0, .9);
  font-weight: normal;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 350px 0 10px;
  margin: 0; }

.button{
  width:15%;
  background-color:#000;
  color:#e7e7e7;
  margin:auto;
  padding:1%;
  @include linear-gradient(#1e5799, #2989d8);
}

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  a {
    color: rgba(0, 0, 0, 0.3); }
    a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}