---
layout: "main-layout"
---

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>


<html>
<head>
<title>My First Middleman</title>
</head>

<body>

<% wrap_layout :layout do %>
<div class="container">
<%=yield %>
</div><!--container-->
<% end %>

</html>