
//Typography


h2{
  @include media($tablet){font-size:em(30);}
  @include media($mobile){font-size:em(27); margin:2% 0;}

}

p{
  @include media($tablet){font-size:em(18);}
  @include media($mobile){font-size:em(16);}
}



.single{
  @include media($tablet){@include span-columns(4);}
}

.column{
  @include media($tablet){@include span-columns (4);}
}

figure{
    img{
      @include media($mobile){
        max-width:em(300);
        height:auto;}
      @include media($tablet){
        max-width:em(350);
        height:auto;
        display:block;
        margin:0 auto;
        float:left;}}
    figcaption{
      @include media($tablet){
        @include span-columns(4);
          text-align:left;}}
}

figure.feature{
      img{
        @include media($tablet){
          max-height:em(300);
          width:auto;
          float:none;}}
}

section{
  @include media($tablet){@include pad(4%);}
  aside {
    @include media($tablet){@include span-columns(4);}
  article{
    @include media($tablet){@include span-columns(4);}
      @include span-columns(9);
      @include pad(default);
      border-top:1px solid $neutral-light;}}
}

footer{
  @include media($mobile){
    @include span-columns(4 of 4);}
    .col{
      @include media($mobile){
        @include span-columns (4 of 4);
        @include pad(default 3%);
        border-bottom:1px solid #fff;
        min-height:em(150);}
      @include span-columns(4);}
}
