---
layout: "main-layout"
title: Home
---
<div class="single">
<div class="column">
<form method="post" action="http://localhost/../scripts/form.php">
		<h2>Send an email and let's chat!</h2>
        <form method="post" action="../scripts/form.php">
					<label>Name</label>
	        <input name="name" type="text" placeholder="Name">

          <label>Email</label>
          <input name="email" type="email" placeholder="Email">

					<label>Message</label>
          <textarea name="message" placeholder="Message here"></textarea>
          <button id="submit" name="submit" type="submit" value="Submit">Send</button>
</form>

</div><!--column1-->

<div class="column">
	<figure>
		<img src="../images/teambonner.jpg" height="468" width="400">
		<figcaption>Me and my husband, George. We're cool.</figcaption>
	</figure>
</div><!--column2-->
</div><!--single-->