---
title: Home
---

	<div class="feature">
	<figure>
	<img class="animate" src="../images/robot.svg" height="20%" width="20%" alt="Robot says Hey Thoughtbot!">
	<figcaption>Hey, Thoughtbot!</figcaption>
	</figure>
	</div><!--feature-->

<div class="container">
	<div class="single-wrap">
		<div class="column">
		<h2>Beginners Should Achieve Quantity over Quality</h2>
			<p>I read an article, <a href="http://www.fastcompany.com/3015027/leadership-now/want-to-conquer-a-new-skill-do-it-every-day">Want To Conquer A New Skill? Do It Every Day</a>. The essence of the article submits that to learn a new skill, a beginner should focus on quantity over quality. Practice often and you will learn to refine your skill as you go. Do it everyday, and build on your knowledge. That approach worked really well for me in this process.</p>
		</div><!--double-->

		<div class="column">
			<img src="../images/dinocomic.png" height="100%" width="100%">
		</div><!--double-->
		

</div><!--single-->

	<div class="single-wrap">
		<h2>Nonlinear Learning</h2>
		<p>With learning a new skill, you end up diving into a pretty deep sea of confusion. The goal is to tred water until the moment when things click. I spent several days consuming information, hoping it would make more sense later when applied in context.
		<br>
		<br>
		<p>My best advice to fellow beginners is to learn to be comfortable with confusion, and just keep working at it. The more attempts you make, even if they are failed attempts, the closer you will get to success.</p>
	</div><!--single-->

		</div><!--main-->
</div><!--.container-->