---
title: Home
---

		<figure class="feature">
			<img class="feature" src="../images/robot.svg" height="300" width="300" alt="Robot says Hey Thoughtbot!">
			<figcaption>Hey, Thoughtbot!</figcaption>
		</figure>

<div class="container">
	<div class="single">
		<div class="column">
		<h2>Beginners Should Achieve Quantity over Quality</h2>
			<p>I recently read an awesome article, <a href="http://www.fastcompany.com/3015027/leadership-now/want-to-conquer-a-new-skill-do-it-every-day">Want To Conquer A New Skill? Do It Every Day</a>. The takeaway: focus on quantity first, and quality will inevitably follow. Practice often and you will learn to refine your skill as you go. Do it everyday, and build on your knowledge. That approach worked really well for me in this process.</p>
		</div><!--double-->

		<div class="column">
			<figure>
				<img src="../images/dinocomic.png" height="400" width="400">
				<!-- <figcaption>What do you say Utahraptor?</figcaption> -->
			</figure>
		</div><!--column-->
		

</div><!--single-->

	<div class="single">
		<h2>Nonlinear Learning</h2>
		<p>With learning a new skill, you end up diving into a pretty deep sea of confusion. The goal is to tread water and keep making progress until the moment when things click. I spent several days consuming information piece by piece, hoping it would make more sense later when applied in context (luckily, it did).
		<br>
		<br>
		<p>My best advice to fellow beginners is to learn to be comfortable with confusion, and just keep working at it. The more attempts you make, even if they are failed attempts, the closer you will get to success.</p>
	</div><!--single-->

		</div><!--main-->
</div><!--.container-->