---
title: Carolann Bonner
---

<div class="welcome">
  <h1>My Middleman Site</h1>
  
  <p class="doc">
    <%= link_to "Home", "index.html" %>
     <%= link_to "About Me", "about.html" %>

     <div class="button">My button</div>
  </p><!-- .doc -->
</div><!-- .welcome -->
